<h3>Harry Potter Characters</h3>
<div class="grid grid-pad" style="display: flex">
  <div id="autocomplete-container" class="w-half">
    <input #search id="myInput" type="text" name="character" placeholder="Search character" (keyup)="searchKeyup($event)" (focus)="searchFocus()">
    <div class="autocomplete-items w-half" id="myInputautocomplete-list" *ngIf="showSuggestion">
      <div *ngFor="let character of (characters$ | async)" (click)="selectCharacter(character)">{{character.name}}</div>
    </div>
  </div>

  <div style="flex-grow: 1"></div>

  <pre class="w-half">{{selectedCharacter | json}}</pre>
</div>
